.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 80%;
}

.packageCards 
{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.packageCard:first-of-type
{
  margin: 0;
}

.packageCard 
{
  margin-left: 25.5px;
}