.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 80%;
}

.packageCards {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 50px auto 0px auto;
  max-width: 1230px;
}

.packageCard:first-of-type {
  margin: 0;
}
